#User Specific
*.userprefs
*.usertasks

#Mono Project Files
*.pidb
*.resources
test-results/

# Output
bin/

*.suo
build
external
*.csproj.user
*.lnk
*.DS_Store
_ReSharper.*
*.resharper.user
*.resharper
